body{
    background-image: linear-gradient(grey, #FEFEFE);
}


header{
    position: fixed;
    width: 300%;
    background-color: #800000;
    height: 150px;
   
}

h1{
    display: inline;
    padding: 150px;
}



nav ul{
    display: inline;
}


.btn{
    padding: 5px;
    margin: 5px 97px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 1s all;
    color: #1C1C1C;
    border: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: antiquewhite;
    
}

.btn:hover{
    color: #8B4513;
    text-decoration: underline;
    font-size: 22px;
}

body{
    background-image: linear-gradient(rgb(83, 81, 81), #FEFEFE);
}

div .produtos{
    width: 940px; 
    padding-top: 200px;
    padding-bottom: 5px;
    padding-left: 15%;
}

h2{
    color: bisque;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 40px 0;
    
}
div li{
    
    background-color: #000000;
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 65px 1.4%;
    padding: 65px 0 1.5em 0;
    box-sizing: border-box;
    border: #000000 solid 2px;
    border-radius: 10px;
}

.quero{
    color: #1C1C1C;
    margin: 30px 0 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.selecionado{
    text-decoration: underline;
    background-color: gold;
    font-size: 20px;
}

footer{
    text-align: center;
    background: maroon;
    padding: 30px 0;

    
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 15px 0;
	
}
